<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Generic title page</title>
</head>
<body>
	<nav th:replace="layouts/nav :: navFragment"></nav>
	<div class="jumbotron text-center">


		<h1>Cereal</h1>
		<h2></h2>
		<br />

	</div>
	<div class="container">

		<table class="table table-striped">
			<tr>
				<th>Manufacturer</th>
				<th>Cereal</th>
				<th>Energy</th>
				<th>Calories</th>
				<th>Protein</th>
				<th>Carbohydrates</th>
				<th>Sugars</th>
				<th>Fat</th>
				<th>Saturates</th>
				<th>Fibre</th>
				<th>Sodium</th>
				<th>Salt</th>
				<th>Iron</th>

			</tr>
			<tr th:each="cereal: ${cereal}">
				<td th:text="${cereal.Manufacturer}"></td>
				<td th:text="${cereal.Cereal}"></td>
				<td th:text="${cereal.Energy}"></td>
				<td th:text="${cereal.Calories}"></td>
				<td th:text="${cereal.Protein}"></td>
				<td th:text="${cereal.Carbohydrates}"></td>
				<td th:text="${cereal.Sugars}"></td>
				<td th:text="${cereal.Fat}"></td>
				<td th:text="${cereal.Saturates}"></td>
				<td th:text="${cereal.Fibre}"></td>
				<td th:text="${cereal.Sodium}"></td>
				<td th:text="${cereal.Salt}"></td>
				<td th:text="${cereal.Iron}"></td>
			</tr>
		</table>

	</div>

</body>
</html>