<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title th:text="${pageTitle}">Generic title page</title>
</head>
<body>

	<div class="jumbotron text-center">


		<h1>Your chosen Cereal kiddo</h1>
		<h2></h2>
		<br />

	</div>
	<div class="container">

		<table class="table table-striped">
			<tr>
				<th>Manufacturer</th>
				<th>Name</th>
				<th>Energy</th>
				<th>Calories</th>
				<th>Protien</th>
				<th>Carbohydrate</th>
				<th>Sugar</th>
				<th>Fat</th>
				<th>Saturates</th>
				<th>Fibre</th>
				<th>Sodium</th>
				<th>Salt</th>
				<th>Iron</th>


			</tr>
			<tr>
				
				<td th:text="${cereal.name}"></td>
				<td th:text="${cereal.Energy}"></td>
				<td th:text="${cereal.Calories}"></td>
				<td th:text="${cereal.protien}"></td>
				<td th:text="${cereal.Carbohydrate}"></td>
				<td th:text="${cereal.Sugar}"></td>
				<td th:text="${cereal.Fat}"></td>
				<td th:text="${cereal.Saturates}"></td>
				<td th:text="${cereal.Fibre}"></td>
				<td th:text="${cereal.Sodium}"></td>
				<td th:text="${cereal.Salt}"></td>
				<td th:text="${cereal.Iron}"></td>
			</tr>
		</table>

	</div>

</body>
</html>