
<!DOCTYPE html>
<html lang="en" xmlns:th= "http://thymeleaf.org">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

	<h1>Lord of the Rings</h1>
	<h2></h2>
	<br />

	
	<div class="container">

		<table class="table table-striped">
			<thead>
				<tr>
					<th>Dwarf Name</th>
					<th>Dwarf Image</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Balin</td>
					<td><img src="../static/dwarf-images/Balin.png" width="100"
						height="150" /></td>
			
				
					<td>Bifur</td>
					<td><img src="../static/dwarf-images/Balin.png" width="100"
						height="150" /></td>
			
				
					<td>Bofur</td>
					<td><img src="../static/dwarf-images/Balin.png" width="100"
						height="150" /></td>
			
				
					<td>Dori</td>
					<td><img src="../static/dwarf-images/Balin.png" width="100"
						height="150" /></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>



